.container-fluid {
    padding-top: 0px;
}

#bg-img {
    background-image: url(/img/background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

li a {
    color: white !important;
    border-radius: 30px;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: #4d2208;
    border-radius: 30px;
}

.navbar-brand {
    color: white;
}

.navbar {
    background-color: #4d482b;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: -25px;
}

.banner {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.col-1 {
    flex-basis: 50%;
    min-width: 100%;
}

.col-1 h2 {
    font-size: 150px;
    margin: 25px 0;
    color: #f99c3e;
}

.col-1 p {
    font-size: 25px;
    line-height: 40px;
    margin: 35px 0;
    justify-content: center;
    color: white;
}