<img src="../img/fooldal.png" alt="Pizzafejléc a cím alá" style="width:60%;height:35%" id="fokep">
<h1>πzzéria</h1>
<table class="nav">
    <tr >
        <td style="width:10%">
            <a href="/"><b>FŐOLDAL</b></a>
        </td>
        <td style="width:10%">
            <a href="/pizzak"><b>ÉTLAP</b></a>
        </td>
        <td style="width:10%">
            <a href="/kapcsolat"><b>KAPCSOLAT</b></a>
        </td>
        <td style="width:10%">
            asd
        </td>
    </tr>
</table>