<html>
<head>
    <link rel="stylesheet" href="/view/stilus.css">
    <title>{{title}}</title>
</head>
<body>


{% header %}

<div class="fooldal">
    <div class="infok">
        <h2>Információk</h2>
        <ul>
            <b>Nyitvatartás</b>
            <li>Hétfő: 12:00-23:30</li>
            <li>Kedd: 12:00-23:30</li>
            <li>Szerda: 12:00-23:30</li>
            <li>Csütörtök: 12:00-23:30</li>
            <li>Péntek: 12:00-24:00</li>
            <li>Szombat: 12:00-24:00</li>
            <li>Vasárnap: 12:00-23:30</li>
        </ul>
    </div>
        <h2>Bejelentkezés</h2>
        <div class="bejelent">
            <form method="post" action="/">
                <div class="">
                    <label for="username"><b>Felhasználónév</b></label><br>
                    <input type="text" class="belep" name="username" value="" maxlength="30"/>
                </div>
                <div class="">
                    <label for=password><b>Jelszó</b></label><br>
                    <input type="password" class="belep" name="password" value="" maxlength="50"/>
                </div>
                <div class="">
                    <button type="submit" class="btn" name="">Bejelentkezés</button>
                </div>
            </form>
        </div>
</div>

{% footer %}

</body>
</html>