<!doctype html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>

{% header %}

<h4>main</h4>

<form action="/" method="post" >
    <input type="text" name="param1" value="" maxlength="30"/>
    <input type="text" name="param2" value="" maxlength="30"/>
    <input type="text" name="param3" value="" maxlength="30"/>
    <button type="submit" class="btn" name="">post test</button>
</form>


{% footer %}

</body>
</html>